/* *{
    margin: 0;
    padding: 0;
    border: 1px solid blue;
} */

/*
main{
    background-color : green;
} */

#pie, #encabezado{
    background-color: aqua;
}
h1,p,article{
    color: rgb(193, 193, 79);
}
*{
    color: rgb(128, 128, 128);
}
#header {
    color: rgb(1, 1, 237);
} 